.DS_Store

# Maven og Eclipse-ting
target/
.project
.classpath
.settings/
*.versionsBackup
**/classes

# IDEA-ting
*.iml
*.ipr
*.iws
*.ids
/.idea

*.class

.svn/

bin/
target/

# Package Files #
*.jar
*.war
*.ear
